*~
build
dist
/nbproject/private
*/nbproject/private
*/nbproject/sqe.properties
*/nbproject/findbugs.settings
*/nbproject/genfiles.properties
*test/(coverage|lib|results|work)
#derby.log
*.class
*.DS_Store
#\.orig$
#\.rej$
#\.tmp\.$
*.swp
tags
gensrc
hs_err_pid[0-9]*.log
blueTempText*.txt
#\.orig\..*$
#\.chg\..*$
#\.conflict\~$
manual/docbook/index.xml
tempCsd*.csd
jython/release/modules/ext/cachedir/*
jython/release/*.pyc
/csound-manual/categories.pyc
rebel.xml
