# Build output
dist/
*.tsbuildinfo
packages/blue-data/tests/integration/*.js
packages/blue-data/tests/integration/*.js.map
packages/blue-data/tests/integration/*.d.ts
packages/blue-data/tests/integration/*.d.ts.map

# Dependencies
node_modules/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Env
.env
.env.*

.pnpm-store
*.blue~
packages/blue-java/target
packages/blue-app/assets/java/blue-java.jar
temp*.csd
